body {
    margin: 0;
    text-align: center;
}
.month {
    background-color: #EAF6F6;
    height: 150px;
    position: relative;
}

.in {
    position: absolute;
    top: 30%;
}

.bun {
    position: absolute;
    top: 50%;
}

.rst {
    position: absolute;
    top: 70%;
}