body {
    text-align: center;
    background-color: #EAF6F6;
}

.mnth {
    margin: 5px;
    padding: 3px;
    box-shadow: 5px;
}

.btn {
    margin: 5px;
    padding: 3px;
    box-shadow: 5px;
}

.rst {
    margin: 5px;
    padding: 3px;
    box-shadow: 5px;
}